<a href="https://colab.research.google.com/github/mahid488/edgeAssignment/blob/main/MahidDec19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
x = "John"
# is the same as
x = 'John'
print(x)

John

In [13]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)

4

In [14]:
myvar = print"John"
my_var = print"John"
_my_var = print"John"
myVar = print"John"
MYVAR =print "John"
myvar2 =print "John"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-14-0d9426914767>, line 1)